.idea
__pycache__
/ALPHA_Documentation/_build/doctrees/
/ALPHA_Documentation/_build/html/
/venv/
/ALPHA_Documentation/_build/html/_images/
/ALPHA_Documentation/_build/html/_sources/
/ALPHA_Documentation/_build/html/_static/