alabaster==0.7.12
Babel==2.8.0
bump2version==1.0.0
bumpversion==0.6.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
dispy==4.12.2
docutils==0.16
et-xmlfile==1.0.1
idna==2.10
imagesize==1.2.0
jdcal==1.4.1
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.0
multitimer==0.2
netifaces==0.10.9
numpy==1.19.1
openpyxl==3.0.4
packaging==20.4
pandas==1.1.0
path==15.0.0
Pillow==7.2.0
playsound==1.2.2
psutil==5.7.2
pycos==4.8.15
pyDOE2==1.3.0
Pygments==2.7.1
pyparsing==2.4.7
PySide2==5.15.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.2
shiboken2==5.15.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.18
urllib3==1.25.10
xlrd==1.2.0
